.logo-container
{
   height: 40px;
   width: 200px;
}
#logo
{
   height: 45px;
   width: 150px;
}
.navbar
{
    background-color: chocolate;
}
nav a {
   cursor: pointer;
}
.active{
   border-bottom: 2px solid rgb(5, 0, 9);
   transform: scale(1); 
}
.custom-link 
{
   color: #ff6600; 
   font-weight: bold; 
 }
 .icon{
   color: #ff6600; 
 }

 .sidebar{
   height: 100%;
   margin-top:70px;
   width: 150px;
   position: fixed;
   left: 0;
   background-color: rgb(98, 91, 91);
   padding-top: 0px;
    
 }
 
 .sidebar a {
   font-weight: normal;
   padding: 10px;
   text-decoration: none;
   color: white;
   display: block;
 }
 
 .sidebar a:hover {
   background-color:black;
 }

 .active2{
   background-color:black;
   transform: scale(1); 
 }