.productTable{
    margin-left: 120px;
}
.add-product-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.btn-primary-custom{
    background-color: black;
    border: none;
}