<div class="mat-elevation-z8 feedbackTable">
  <div class="filter-container">
    <!-- Search Input -->
    <mat-form-field >
      <mat-label>Search</mat-label>
      <input matInput #searchInput placeholder="Search feedbacks" (keyup)="applyFilter(searchInput.value)">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="filteredFeedbackList" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let feedback"> {{ feedback.name }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let feedback"> {{ feedback.email }} </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let feedback"> {{ feedback.productName }} </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let feedback"> {{ feedback.rating }} </td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let feedback"> {{ feedback.comment }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let feedback">
        <button mat-icon-button color="warn" (click)="openDeleteDialog(feedback)" aria-label="Delete">
          <i class="fa-solid fa-trash"></i> 
        </button>
         <!-- Print Button -->
        <button mat-icon-button color="primary" (click)="printFeedback(feedback)" aria-label="Print">
        <i class="fa-solid fa-print"></i>
        </button>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


