<div class="row">
  <div class="col-4 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
          <div class="form-group">
            <label for="userEmail" class="form-label"><span class="required">*</span> Email</label>
            <input type="text" class="form-control" required [(ngModel)]="email" name="email">
          </div>
          <div class="form-group">
            <label for="password" class="form-label"><span class="required">*</span> Password</label>
            <input type="password" class="form-control" required [(ngModel)]="password" name="password">
          </div>
        
          <div class="form-group">
           <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-primary-custom">Submit</button>
            <!-- <button type="button" class="btn btn-secondary">Cancel</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

